input{
    padding: 15px 20px;
    width: 640px;
    border-radius: 7px;
}

.leftInnerAddon {
    position: relative;
}
.leftInnerAddon input {
    background: rgba(246, 243, 243, 0.986);
    border: white;
    font-size: medium;
    outline: none;
    padding-left: 68px;
}
.leftInnerAddon .icon{
    position: absolute;
    display: flex;
    height: 40px;
    width: 40px;
    pointer-events: visible;
    cursor: pointer;
    top: 0.3rem;
    left: 1rem;
    justify-content: center;
    align-items: center;
}


.leftInnerAddon input:focus {
    background-color: white;
    box-shadow:  1px 1px 0 rgba(90, 90, 90, 0.302), 0 1px 3px 1px rgba(220, 224, 233, 0.149), 0 1px 3px 1px rgba(137, 140, 149, 0.149);
    border-radius:7px 7px 0 0;
}

.svg{
    color: #5f6368;
     width: 24px;
     height: 24px;
}

.leftInnerAddon .icon:hover{
    background-color: rgba(226, 221, 221, 0.979);
    border-radius: 27px;
}









