.Header{
    position: fixed;
    padding: 8px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    z-index: 50;
}

.Header > div{
    flex: 0.03 0 auto;
}

.Search{
    padding-left: 65px;
}

.Avater{
    padding-left: 0;
    position: relative;
    line-height: normal;
    left: 20px;
}

.Menu{
    padding-left: 10px;
    cursor: pointer;
}

.Helpbtn{
   position: relative;
   left: 110px;
}

.label{
   padding-left: 4px;
   color: #5f6368;
   opacity: 1;
   display: inline-block;
   position: relative;
   top: -15px;
   vertical-align: middle;
   font-family: 'Product Sans',Arial,sans-serif;
   font-size: 22px;
   line-height: 24px;

}

